# Email Configuration
EMAIL_USER=your-gmail@gmail.com
EMAIL_PASS=your-16-digit-app-password
EMAIL_FROM=Ranao Jobs <your-gmail@gmail.com>
NEXT_PUBLIC_WEBSITE_URL=http://localhost:3000

# Recipient for contact form
CONTACT_FORM_RECIPIENT=langilaohasanor@gmail.com
